.app__banner {
    flex: 3 1;
    height: 100%;
    width: 94%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../../assets/earthInSpace.jpg);
    background-position: 50%;
    background-size: cover;

    box-shadow: 2px 3px 4px 1px #000;
}

.video-container {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: space-evenly;
    flex-direction: column;
    //max-width: 100%; /* Ensure the video doesn't exceed its container's width */
  }