.nasa__home {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nasa__home-banner {
    flex: 0 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nasa_home-topthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    flex: 0 1;

    .d-flex {
        padding-top: 0px !important;
        padding-bottom: 27px !important;
        max-height: 65px;
    }


}

.filler {
    width: 97%;
    height: 100%;
    background-color: rgb(40, 44, 52);
    margin-right: 20px;
    margin-top: 20px;
}