.appbar__section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    ul {
        padding-left: 0;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        margin-top: 0px;
        margin-bottom: 0px;

        div {
            width: 250px;
            border-bottom: 1px solid;
            border-color: white;
            margin-top: 20px;
        }
    }
}

