.appbar__section1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    background:linear-gradient(159deg,rgba(37,37,50,.98) 0%,rgba(35,35,45,.98) 100%);
}

.appbar___section1-div {
    margin-top: 21px;
    width: 10rem;
    height: 328px;
}

.img-pic {
    box-shadow: 0px 0px 4px 2px #2e2e2e;
    height: 100%;
    border-radius: 50%;
    margin-top: 0;
    width: 100%;
}

.pulse-div {
    border-radius: 50%;
    height: 28px;
    width: 28px;
    z-index: 0;

    position:absolute;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}

.pulse-color {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    z-index: 1;

    opacity: 6;
    background-color: #ffc107;
}

.appbar__section1-h5 {
    color: var(--white-color);
    font-weight: 100;
    font-size: 1.4rem;
}

.testing1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pulse-alignment-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 259px;
    margin-top: 6rem;
    margin-left: 6rem;

    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;

    position: absolute;
} 

.appbar__section1-div-img {
    margin-bottom: 30px;
}

.appbar__section1-p {
    margin-top: 0;
}