



.part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


/*----------PART4----------*/
.part4-divider {
    border-top: 1px solid white;
    width: 250px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.part4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.part4-p {
    color:white;
}

.part4-h6 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 100;
}

.part4-divH6-container {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}

.part4-li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part4-li>span {
    margin-bottom: 10px;
    color:#9b9b9b;
}

.part4-ul {
    width: 250px;
    padding-left: 0;
}

.part4-svg {
    height: 21px;
}

.part4-path0 {
    stroke-dasharray: 231, 100;
    stroke-dashoffset: 10;
}

.part4-inv-path0 {
    stroke: black;
}

.part4-path1 {
    stroke-dasharray: 204, 100;
    stroke-dashoffset: 10;
}

.part4-inv-path1 {
    stroke: black;
}

.part4-path2 {
    stroke-dasharray: 244, 100;
    stroke-dashoffset: 10;
}

.part4-inv-path2 {
    stroke: black;
}

.part4-path3 {
    stroke-dasharray: 204, 100;
    stroke-dashoffset: 10;
}
.part4-inv-path3 {
    stroke: black;
}

.part4-path4 {
    stroke-dasharray: 204, 100;
    stroke-dashoffset: 10;
}
.part4-inv-path4 {
    stroke: black;
}

.part4-path5 {
    stroke-dasharray: 231, 100;
    stroke-dashoffset: 10;
}

.part4-inv-path5 {
    stroke: black;
}



/*--------PART5--------*/
.part5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part5-divider {
    margin-top: 20px;
    width: 250px;
    border-top: 1px solid white;
}

.part5-h6 {
    color: white;
    font-weight: 100;
    margin-top: 21px;
    margin-bottom: 21px;
}

.part5-svg-span-container {
    display: flex;
    width: 250px;
    height: 30px;
    align-items: center;

}

.part5-svg-span-container>svg {
    width: 70px;
    height: 30px;;
}

.part5-svg-span-container>span{
    color: #9b9b9b;
    font-weight: 100;
}

.part5-h6-container {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}

/*-----------PART6----------*/

.part6 {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part6-divider {
    width: 250px;
    border-top: 1px solid white;
    margin-bottom: 21px;
}

path {
    
}



h5 {
    margin-top: -8px;
    margin-bottom: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}





.test-pulse {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 1px;
    background: #fafafc;
    background-color: aqua;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    -webkit-animation: puls 1s infinite;
    animation: puls 1s infinite;
}





@keyframes pulse {
    0% {
        background-color: none;
    }
    100% {
        box-shadow: 0px 0px 1px 3px #fafafc;
    }
}







