.part3-divH6-container {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}

.part3-h6 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}

.part3-container {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    /*background-color: rgb(78, 80, 78);*/
}

.part3-svg-size {
    display: flex;
    align-items: center;
    width: 100px;
}

.part3-svg {
    width: 100px;
    height: 100px;
}

.part3-p1 {
    position: absolute;
    top: 40px;
    left: 40px;
    color:#ffc107;
}

.part3-p {
    position: absolute;
    color: white;
    width: 101px;
}

.part3-lp {
    color:white;
}

.negative-path {
    stroke: black;
}

.path3 {
    stroke-dasharray: 292.273, 292.273;
    stroke-dashoffset: 239.682;
}

