.app__navbar {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 1rem 2rem;
    background: linear-gradient(159deg, rgba(37, 37, 50, .98) 0%, rgba(35, 35, 45, .98) 100%);
    /* background-image: var(--lesser-imgcolor);*/
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    position: fixed;
    z-index: 3;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 50px;
        height: 50px;

        @media screen and (min-width: 2000px) {
            width: 180px;
            height: 40px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;

        flex-direction: column;

        div {
            /* width becomes 0, making the dot disapear
            width: 5px; */
            height: 5px;
            background: transparent;
            border-radius: 50%;

            margin-bottom: 5px;
        }

        a {
            color: var(--white-color);
            text-decoration: none;
            flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.3rem;

            transition: all 0.3s ease-in-out;

            &:hover {
                font-size: 1.3rem;
                /* color: var(--secondary-color); */
            }
        }

        &:hover {
            div {
                background-color: var(--secondary-color);
            }
        }

    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

/*--Mobile Menu--
     icon: hamburger-menu   */
.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }
    /* mobile: pop block */
    div {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 100%;
        /* offsets the top
        height: 40vh;*/

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        /* bubbles
        background: url(../../assets/bgWhite.png);*/
        background-color: var(--main-color);
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
        /* icon: x-menu */
        svg {
            width: 35px;
            height: 35px;
            color: var(--header-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 64%;

            display: flex;
            
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--white-color);
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}
