.appbar__sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 20rem;
    height: 100%;
    position: fixed;
    background-color: var(--main-color);
    
    z-index: 2;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

/*
    
    
    
    box-shadow: 4px 2px 2px 1px lightgrey;
    background-color: #1e1e28; 

    
    z-index: 2;
*/